/*.tmp
build/
.gradle

/NhlStatistics1/.project/
/NhlStatistics1/.settings/
/NhlStatistics1/src/test/java/ohtuesimerkki/.keep

/RiippuvuuksienInjektointi1/.nb-gradle/
/RiippuvuuksienInjektointi1/.settings/
/RiippuvuuksienInjektointi1/.classpath
/RiippuvuuksienInjektointi1/.project
